<%= render 'shared/toolbar' %>
<h3>Users</h3>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.username, user_path(user) %> <%= link_to 'posts', posts_path %>
       <%= render 'follow', locals: {user: user} %>

      </li>
  <% end %>
</ul>

<h3>Followers</h3>

<% @followers.each do |follower| %>
  <%=follower.username %>
<% end %>
