<!DOCTYPE html>
<html>
<head>
  <title><%= @user.username %>'s posts</title>
</head>
<body>
<%= render 'shared/toolbar' %>
<h1><%= @user.username %></h1>

<% @posts.reverse_each do |post|%>
  <%=post.body %>
<% end %>

<% @followers.each do |follower| %>
  <%=follower.username %>
<% end %>

<%= link_to 'new', new_post_path %>
</body>
</html>



